<?xml version="1.0"?>

<!-- ackermann_vehicle.launch
This launch file launches nodes used by both RViz and Gazebo when visualizing a vehicle with Ackermann steering.
-->

<launch>
  <group ns="/ngeeann_av">
    <!-- robot_description is used by nodes that publish to joint_states. -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ngeeann_av_description)/urdf/ngeeann_av.xacro"/> 

    <!-- Read joint positions from joint_states, then publish the vehicle's
         state to tf. -->
    <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" value="30.0"/>
    </node>
  </group>
</launch>

