<?xml version="1.0"?>

<launch>
  <arg name="cmd_timeout" default="0.5"/>

<group ns= "/ngeeann_av" >
  <include file="$(find ngeeann_av_control)/launch/road_drive.launch"/>

    <!-- Control the steering, axle, and shock absorber joints. -->
    <node name="ackermann_controller" pkg="ngeeann_av_control" type="ackermann_controller.py">
      <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
      <rosparam file="$(find ngeeann_av_control)/config/ackermann_params.yaml" command="load"/>
    </node>
</group>
</launch>