<?xml version="1.0" ?>
<robot name="ngeeann_av" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<joint name="hokuyo_joint" type="fixed">
		<axis xyz="0 1 0" />
		<origin xyz="0 2.34 0.24" rpy="0 0 1.5708"/>
		<parent link="base_link"/>
		<child link="hokuyo_link"/>
	</joint>

	<link name="hokuyo_link">
		<collision>
		  <origin xyz="0 0 0" rpy="0 0 0"/>
		  <geometry>
		    <box size="0.05 0.05 0.05"/>
		  </geometry>
		</collision>

		<visual>
		  <origin xyz="0 0 0" rpy="0 0 0"/>
		  <geometry>
		    <mesh filename="package://ngeeann_av_description/meshes/hokuyo.dae"/>
		  </geometry>
		</visual>
		
		<inertial>
		  <mass value="1e-5" />
		  <origin xyz="0 0 0" rpy="0 0 0"/>
		  <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
	</link>
	
</robot>
