<launch>
  <param command="$(find xacro)/xacro $(find ngeeann_av_description)/urdf/ngeeann_av.xacro" name="robot_description"/>

  <!-- original launch -
  <node args="-param robot_description -urdf -model ngeeann_av" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
` -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <!-- new launch -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ngeeann_av" />

</launch>
